#parse("/common/constants.vm")
<!DOCTYPE html>
<html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<style type="text/css">
    input[readonly] {
        background-color: #ffffff !important;
        cursor: not-allowed;
    }

    input[disabled] {
        background-color: #f4f4f4 !important;
        cursor: not-allowed;
    }

    #ff {
        position: relative;
    }

    #ff .kww {
        position: relative;
        width: 220px;
        height: 322px;
    }

    #ff .kww input {
        position: relative;
        height: 22px;
        border: 1px solid #D4D4D4;
        background-color: #FFF;
        vertical-align: middle;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        margin: 0px;
        padding-left: 4px;
        border-radius: 5px;
    }

    #ff .Pa {
        position: absolute;
        display: none;
        top: 22px;
        left: 0px;
        width: 100%;
        height: auto;
        max-height: 300px;
        overflow-y: scroll;
        background: #fff;
        border: 1px solid #686e71;
        border-radius: 2px;
        z-index: 971;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    }

    #ff .Pa a {
        height: 25px;
        line-height: 25px;
        display: block;
        padding: 0 3px;
        text-decoration: none;
        overflow: hidden;
        color: #000
    }

    #ff .Pa .act, #ff .Pa a:hover {
        background: #f5f5f5
    }

    #ff .Pa a span {
        white-space: nowrap
    }

    #ff .Pa .act span {
        font-weight: bold
    }

    #ff .Pa a i {
        color: #ccc;
        padding-left: 8px
    }
</style>
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    #parse("/common/head.vm")
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-header-fixed page-sidebar-fixed page-footer-fixed">
    #parse("/common/topbar.vm")
<div class="clearfix">
</div>
<!-- BEGIN CONTAINER -->
<div class="page-container">
    #parse("/common/menu.vm")
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <!-- BEGIN PAGE HEADER-->
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <form id="ff">
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet">
                            <div class="portlet-title">
                                <div class="caption" id="contractCountDiv">房源责任管理报表</div>
                                &nbsp;&nbsp;&nbsp;&nbsp;<a target='view_window'
                                                           href='http://iwop.superjia.com/wiki/displayArticle.do?id=2558'>报表数据解释</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="padding-bottom: 10px">
                        #parse("/common/selectOrg.vm")
                        &nbsp;&nbsp;&nbsp;&nbsp;小区等级
                        <select id="estateType" class="easyui-combobox" editable="false">
                            <option value="0">全部</option>
                            <option value="1">责任小区</option>
                            <option value="2">主营小区</option>
                        </select>
                    </div>
                    <div class="col-md-12" style="padding-bottom: 10px">
                        时间
                        <input id="startDate" name="startDate" value="$!{startDate}" class="easyui-datebox"
                               editable="false"/>
                        &nbsp;-&nbsp;
                        <input id="endDate" name="endDate" value="$!{endDate}" class="easyui-datebox" editable="false"/>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        成交时间
                        <input id="startDealDate" name="startDealDate" value="$!{startDealDate}" class="easyui-datebox"
                               editable="false"/>
                        &nbsp;-&nbsp;
                        <input id="endDealDate" name="endDealDate" value="$!{endDealDate}" class="easyui-datebox"
                               editable="false"/>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        小区
					    <span class="kww">
                        <input id="estateName" type="text" name="kw" style="width: 220px"
                               placeholder="请输入小区名称或地址" maxlength="50"
                               autocomplete="off"/>
                        </span>
                        <input type="hidden" id="estateText"/>
                        <input type="hidden" id="estateValue"/>
                    ########小区搜索需要的隐藏域###########
                        <input type="hidden" id="subEstateId"/>
                    ########记录当前操作类型隐藏域 group:小组  town:板块###########
                        <input type="hidden" id="currentSearchType"/>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#" class="btn btn-xs green" onclick="reQueryData()">查询 <i class="fa fa-search"></i></a>&nbsp;&nbsp;
                        <a href="javascript:void(0);" class="btn btn-xs green" onclick="resetForm()">重置 <i
                                class="fa fa-reply-all"></i></a>&nbsp;&nbsp;
                        <a class="btn btn-xs green" onclick="exportData()">导出Excel <i class="fa fa-share-square-o"></i></a>
                    </div>

                    <div class="col-md-12">
                        <table id="report_dg" style="width:100%">
                        </table>
                    </div>
                </div>
            </form>
            <!-- END PAGE CONTENT-->
        </div>
    </div>
    <!-- END CONTENT -->
</div>
<div id="historyRate" class="easyui-window" title="历史责任维护率" style="width:500px;height:370px;"
     data-options="modal:true,closed:true,minimizable:false,collapsible:false,maximizable:false,draggable:false"
     closed="true">
    <div >
        <table id="rate_dg" style="width:480;;height:333px;">
        </table>
    </div>
</div>
<!-- END CONTAINER -->
    #parse("/common/footer.vm")
<iframe id="downloadExcel" style="display: none"></iframe>
<script type="application/javascript">

    /**
     *重置
     */
    function resetForm() {
        $("#estateText").val("");
        $("#estateValue").val("");
        jQuery("#subEstateId").val("");
        $("#ff").form("reset");
        csSelect();
    }

    /**
     * 初始化列表
     */
    function report_create_datagrid(pars) {
        //构造列表
        $('#report_dg').datagrid({
            url: '${basePath}/agentreport/fyzrglbb/queryFyzrglbb.json',
            striped: true,
            pagination: true,
            rownumbers: true,
            pageSize: 15,
            pageNumber: 1,
            pageList: [15, 30, 60],
            loadMsg: '数据正在加载中...',
            queryParams: pars,
            singleSelect: true,
            selectOnCheck: false,
            checkOnSelect: false,
            frozenColumns: [[{
                field: 'mendianname',
                title: '<span class="txtcenter">门店</span>',
                rowspan: 2,
                resizable: true,
                hidden: false,
                sortable: false,
                align: 'left',
                width: 120
            },
                {
                    field: 'groupname',
                    title: '<span class="txtcenter">小组</span>',
                    rowspan: 2,
                    resizable: true,
                    hidden: false,
                    sortable: false,
                    align: 'center',
                    width: 70
                },
                {
                    field: 'estTypeStr',
                    title: '<span class="txtcenter">小区等级</span>',
                    rowspan: 2,
                    resizable: true,
                    hidden: false,
                    sortable: false,
                    align: 'center'
                }
            ], []],
            columns: getDutyHouseMaintainTitles(),
            onLoadSuccess: function (data) {
                $(".txtcenter").parent().parent().css("text-align", "center");
                if (data && data.code != 1) {
                    alert(data.message);
                }
               // setTableTitle(2558);
            }
        });
    }

    /**
     * 查询
     */
    function reQueryData() {
        var pars = report_param_init();
        if (pars == -1) {
            return;
        }
        if (typeof($('#report_dg').data().datagrid) == "undefined") {
            report_create_datagrid(pars);
            $('.page-sidebar, .header').on('click', '.sidebar-toggler', function (e) {
                $('#report_dg').datagrid('resize');
            });
        } else {
            $('#report_dg').datagrid('reload', pars);
        }
    }

    /**
     * 获取查询参数
     */
    function report_param_init() {
        var estType = $("#estateType").combobox('getValue');
        var startDate = $("#startDate").datebox("getValue");
        var endDate = $("#endDate").datebox("getValue");
        var startDealDate = $("#startDealDate").datebox("getValue");
        var endDealDate = $("#endDealDate").datebox("getValue");
        var estateId = $.trim(jQuery("#estateValue").val());
        if(getDays(startDate,endDate)>6){
            jQuery.messager.alert("警告", "只能查询最多7天数据，请重新选择开始时间和结束时间!", "error");
            return -1;
        }
        return {
            "csId": getCsId(),
            "dqId": getDqId(),
            "qyId": getQyId(),
            "mdId": getMdId(),
            "xzId": getXzId(),
            "estType": estType,
            "startDate": startDate,
            "endDate": endDate,
            "startDealDate": startDealDate,
            "endDealDate": endDealDate,
            "estateId": estateId
        };
    }

    /**
     * 导出
     */
    function exportData() {
        var params = report_export_param();
        if (params == -1) {
            return;
        }
        var src = "$!{basePath}/agentreport/fyzrglbb/exportFyzrglbb.report";
        $("#downloadExcel").attr("src", src + params);
    }

    /**
     * 导出参数
     */
    function report_export_param() {
        var estType = $("#estateType").combobox('getValue');
        var startDate = $("#startDate").datebox("getValue");
        var endDate = $("#endDate").datebox("getValue");
        var startDealDate = $("#startDealDate").datebox("getValue");
        var endDealDate = $("#endDealDate").datebox("getValue");
        var estateId = $.trim(jQuery("#estateValue").val());
        if(getDays(startDate,endDate)>6){
            jQuery.messager.alert("警告", "只能导出最多7天数据，请重新选择开始时间和结束时间!", "error");
            return -1;
        }
        var params = "?csId=" + getCsId() + "&dqId=" + getDqId() + "&qyId=" + getQyId() + "&mdId=" + getMdId() + "&xzId=" + getXzId()
                + "&estType=" + estType + "&startDate=" + startDate + "&endDate=" + endDate + "&startDealDate=" + startDealDate + "&endDealDate=" + endDealDate + "&estateId=" + estateId;
        return params;
    }

    /**
     * 成交历史记录
     */
    function listHistory(groupid, eastid, esttype, startdate, enddate) {
        $('#historyRate').window('open');
        $('#historyRate').window('move', {top: $(document).scrollTop() + 200});
        var pars = {"xzId": groupid,"estateId": eastid, "estType": esttype, "startDate": startdate, "endDate": enddate};
        if (typeof($('#rate_dg').data().datagrid) == "undefined") {
            rate_create_datagrid(pars);
            $('.page-sidebar, .header').on('click', '.sidebar-toggler', function (e) {
                $('#rate_dg').datagrid('resize');
            });
        } else {
            $('#rate_dg').datagrid('reload', pars);
        }
    }

    /**
     * 成交历史记录列表
     */
    function rate_create_datagrid(pars) {
        $('#rate_dg').datagrid({
            //构造列表
            url:'${basePath}/agentreport/fyzrglbb/queryHistoryRate.json',
            fitColumns : true,
            striped : true,
            pagination : true,
            rownumbers : true,
            pageSize: 10,
            pageNumber: 1,
            pageList: [10, 30, 60],
            loadMsg : '数据正在加载中...',
            queryParams : pars,
            singleSelect:true,
            selectOnCheck : false,
            checkOnSelect : false,
            columns : getDutyHouseMaintainHisTitles(),
            onLoadSuccess:function(data){
                $(".txtcenter").parent().parent().css("text-align","center");
            }
        });
    }

    /**
     * 小区搜索
     */
    $(function () {
        document.getElementById("estateValue").value = "";
        var frm = $('#ff');
        var searchName = frm.find('[name=kw]');//搜索关键字

        var pa = frm.find('.Pa');
        var kww = frm.find('.kww');
        if (pa.length == 0)pa = $('<p class="Pa"></p>').prependTo(kww);

        searchName.keyup(function (e) {//关键字输入
            var self = $(this);
            var k = e.keyCode;
            if (k == 27 || k == 35 || k == 36 || k == 37 || k == 38 || k == 39 || k == 40 || k == 13)return;//忽略ESE 上 下 左 右键 回车
            var key = Val(self);
            $('#estateValue').val("");
            $('#estateText').val(key);
            if (key == self.attr('key')) {//防止相同内容多次查询
                return;
            } else {
                self.attr('key', key);
            }
            ;
            if (key == '') {
                pa.html('').hide();
                self.focus();
//                clearSubEstates();
                return;
            }
            ;
            if (this.Ajax)this.Ajax.abort();//取消上次查询
            var cityId = getCsId();
            this.Ajax = new jQuery.ajax({
                url: '${basePath}/estatemaintenance/xqwhbb/queryEstates.json',
                cache: false,
                type: 'post',
                dataType: 'json',
                data: {cityId: cityId, q: key},
                success: function (d) {
                    if (d.code == "1") {
                        if (d.data && d.data.length == 0) {
                            pa.html('').hide();
                        } else {
                            pa.html('');
                            var reg = new RegExp('(' + key + ')', 'gi'), tit, span;
                            $(d.data).each(function (_, i) {
                                if (!i.id)return;
                                tit = '';
                                span = i.text;
                                $('<a href="javascript:"' + tit + '><span id="' + i.id + '">' + span.replace(reg, '<b>$1</b>') + '</span></a>')
                                        .click(function () {
                                            self.val(i.text);
                                            $('#estateValue').val(i.id);
                                            $('#estateText').val("");
//                                            initSubEstates(i.id);
                                            var reg = new RegExp('(' + i.text + ')');
                                            pa.find('a').each(function (_, i) {
                                                i.className = "";
                                                i = $(i);
                                                i.find('span').html(i.find('span').text().replace(reg, '<b>$1</b>'));
                                            });
                                            $(this).addClass('act');
                                            pa.hide();
                                        }).appendTo(pa);
                            });
                            pa.show();
                        }
                    }
                },
                error: function () {
                    pa.hide();
                }
            })
        })
    })

    //清除左右空格
    function Ks(i) {
        if (i) {
            return i.replace(/(^\s*|(\s*$))/g, '');
        } else {
            return '';
        }
    }

    function Val(i) {
        i = $(i);
        var s = Ks(i.val());
        if (s == i.attr('placeholder')) {
            return '';
        } else {
            return s;
        }
    }

    //计算时间差
    function getDays(strDateStart,strDateEnd){
        var strSeparator = "-";
        var oDate1;
        var oDate2;
        var iDays;
        oDate1= strDateStart.split(strSeparator);
        oDate2= strDateEnd.split(strSeparator);
        var strDateS = new Date(oDate1[0], oDate1[1]-1, oDate1[2]);
        var strDateE = new Date(oDate2[0], oDate2[1]-1, oDate2[2]);
        iDays = parseInt(Math.abs(strDateS - strDateE ) / 1000 / 60 / 60 /24)
        return iDays ;
    }

    function init() {
    }


</script>
<script src="$!{basePath}/scripts/gridTitle.js"></script>
</body>
<!-- END BODY -->
</html>